/* google fonts */

@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&family=Poppins&display=swap");

/* global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  
}
/* navigation styling*/

.main-header {
  background-color: rgb(221, 221, 221);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
}

nav {
  min-height: 10vh;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  /*padding: 1rem 0rem; */
}
/* .logo {
  flex: 1 1 10rem;
}

.logo img {
  width: 10%;
  height: 10%;
  object-fit: cover;
} */

.links {
display: flex;
justify-content: space-between;
flex: 2 1 10rem;
}
nav li {
  display: flex;
  list-style: none;
  font-size: 3rem;
}

nav a {
  text-decoration: none;
  color: black;
  /* padding: 0rem 1rem; */
}

/* index.html main section*/

.main-section {
  display: flex;
  flex-wrap: wrap;
  min-height: 80vh;
  width: 90%;
  margin: auto;
}
.main-text {
  flex: 1 1 40rem;
  text-align: center;
}
.main-text h1 {
  padding-top: 10rem;
  font-size: 3.5rem;
  font-family: "Frank Ruhl Libre", serif;
}
.main-text p {
  padding: 1rem 10rem;
  font-size: 3rem;
  color: rgb(66, 63, 63);
  font-family: "Frank Ruhl Libre", serif;
}
.main-img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 40rem;
}

.landing-img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  align-self: center;
}

/*footer styles*/
footer {
  min-height: 10vh;
  padding: 1rem 5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  
 /* background-color: rgb(221, 221, 221); */
}
footer ul {
  display: flex;
  flex: 1 1 20rem;
  justify-content: space-between;
  align-items: center;
  
}
footer li {
  list-style: none;
  align-items: center;
    text-decoration: none;

}
footer h2 {
  flex: 3 1 40rem;
  font-size: 2rem;
} 
footer i {
  color: black;
}
 /* toggle styling*/
 /* https://codepen.io/FlorinPop17/pen/XWWZYYG */

 .toggle-container {
  display: flex;
  justify-content: flex-end;
  flex: 1 1 10rem;
  }
  .label {
    background-color: rgb(112, 104, 104);
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
  }
  .label .circle {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
  }

  .dark-mode {
    opacity: 0;
  }

  .fa-moon {
    color: #d5d4db;
  }
  
  .fa-sun {
    color: #f3f17b;
  }
  .dark-mode:checked + .label .circle {
    transform: translateX(24px);
  }
/* dark mode styles*/
  body.dark {
    background: #292C35;
    color: white;
    
  }
  body.dark a  {
    color: white;
  }
  body.dark p {
    color: white;
  }
  body.dark .label {
    background-color: white;
  }
  body.dark .label .circle {
    background-color: #50535c;
  }

  

  
  
  