/* global styles */

/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

/* navigation styling*/

nav {
  min-height: 10vh;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem 0rem;
}

.links {
  display: flex;
  justify-content: space-between;
  flex: 2 1 10rem;
}

nav li {
  display: flex;
  font-size: 3rem;
}

nav a {
  text-decoration: none;
  color: black;
  padding: 0.1rem 3rem;
}

.active {
  background: rgb(112, 104, 104);
  color: white;
  border-radius: 2rem;
}

nav a:hover {
  font-weight: bold;
  transition: all 0.2s;
}

/* burger */

.burger {
  display: none;
}
.burger div {
  width: 40px;
  height: 3px;
  background-color: rgb(112, 104, 104);
  margin: 6px;
}

/* home main section*/

.main-section {
  display: flex;
  flex-wrap: wrap;
  min-height: 80vh;
  width: 90%;
  margin: auto;
}
.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 40rem;
}

.landing-img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  align-self: center;
}

.text-container {
  flex: 1 1 40rem;
  text-align: center;
}
.intro-text {
  font-size: 3.5rem;
  padding: 10rem 5rem;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}
/* landing button */
.button {
  color: white;
  border-radius: 2rem;
  padding: 1rem 3rem;
  cursor: pointer;
  font-size: 3rem;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

/* button hoover efect
https://codepen.io/alticreation/pen/zBZwOP?editors=0100 */

.button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(112, 104, 104);
  border-radius: 2rem;
  z-index: -2;
}

.button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgb(41, 44, 53);
  transition: all 0.5s;
  border-radius: 2rem;
  z-index: -1;
}

.button:hover {
  color: #fff;
}

.button:hover:before {
  width: 100%;
}

/*footer styles*/

footer {
  min-height: 10vh;
  padding: 1rem 5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

footer li {
  list-style: none;
  align-items: center;
  text-decoration: none;
}

footer ul {
  display: flex;
  flex: 1 1 20rem;
  align-items: center;
  justify-content: space-around;
}

footer h2 {
  flex: 1 1 20rem;
  font-size: 1.5rem;
  color: rgb(112, 104, 104);
}

footer i {
  color: rgb(112, 104, 104);
}

footer i:hover {
  transform: scale(1.5);
  color: rgb(41, 44, 53);
  transition: ease-in 0.3s;
}

/* dark mode toggle styling*/
/* https://codepen.io/FlorinPop17/pen/XWWZYYG */

.toggle-container {
  display: flex;
  justify-content: flex-end;
  flex: 1 1 10rem;
}

.label {
  background-color: rgb(112, 104, 104);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  transform: scale(1.5);
}

.label .circle {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
}

.label span {
  opacity: 1;
  transition: none;
}

.dark-mode {
  opacity: 0;
}

.fa-moon {
  color: #d5d4db;
}

.fa-sun {
  color: #f3f17b;
}

.dark-mode:checked + .label .circle {
  transform: translateX(24px);
}

/*Portfolio page gallery*/

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  min-height: 80vh;
  width: 90%;
  grid-gap: 2rem;
  margin: auto;
  align-items: center;
  justify-items: center;
}

.img-container {
  overflow: hidden;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
.img-container img:hover {
  transform: scale(1.3);
}

.modal {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.25s ease-out;
}
/* modal animation applied with javascript */
.modal.open {
  opacity: 1;
  pointer-events: all;
}

/*position galery full image in a centre*/
.full-img {
  position: absolute;
  height: 70%;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -5%) scale(0.5);
  transition: all 0.25s ease-out;
}
/* modal image animation, added with javascript */
.full-img.open {
  transform: translate(-50%, -5%) scale(1);
}

/* position text in a centre*/
.modal p {
  color: white;
  font-size: 3rem;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -5%);
}

.img-container p {
  text-align: center;
  background-color: rgb(221, 221, 221);
  padding: 0rem 2rem;
  cursor: pointer;
  font-size: 1.5rem;
}

.img-container a {
  text-decoration: none;
  color: black;
}

.img-container p:hover {
  background-color: rgb(112, 104, 104);
  transition: ease-in 0.3s;
}

.img-container a:hover {
  color: white;
}

/* CV page main section */

.cv-main-section {
  width: 90%;
  margin: auto;
  min-height: 80vh;
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  /* grid areas to visualise where items should go  */
  grid-template-areas: "section1 ." "section2 section3" "section2 section4" "section2 section5";
  padding: 2rem 0rem;
}

.top-text {
  grid-area: section1;
}
.contact-details {
  grid-area: section2;
  justify-self: start;
}
.about-me {
  grid-area: section3;
}
.skills {
  grid-area: section4;
  padding: 0.5rem 0rem;
}
.education {
  grid-area: section5;
  padding: 0.5rem 0rem;
}

.top-text h2 {
  font-size: 2rem;
  text-align: start;
}

.top-text,
h3 {
  font-size: 1.5rem;
  text-align: start;
  padding-bottom: 1rem;
}
.about-me h2 {
  font-size: 1.7rem;
}
.education h2 {
  font-size: 1.7rem;
}
.contact-details h2 {
  font-size: 1.7rem;
}

.skills h2 {
  font-size: 1.7rem;
}
.about-me,
.education,
.contact-details,
.skills ul {
  font-size: 1.5rem;
  font-weight: 500;
}

.skills p {
  font-size: 1.5rem;
  font-weight: 500;
}

/* line styling */
hr {
  width: 300%;
  margin-left: auto;
  margin-right: auto;
  color: #535458;
}

.skills ul {
  list-style-position: inside;
}

/* Contact page form */

.form-section {
  min-height: 80vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 3rem;
}

/* form button */
.form-section button {
  width: 70%;
  padding: 1rem 0rem;
  margin: 2rem;
  background: rgb(112, 104, 104);
  font-size: 2.5rem;
  border: none;
  border-radius: 2rem;
  color: white;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

form input:focus {
  outline: 1px solid;
  border-radius: 1rem;
}

form textarea:focus {
  outline: 1px solid;
  border-radius: 1rem;
}
/* hover effect */
.form-section button:hover {
  background: rgb(41, 44, 53);
  transition: ease-in-out 0.2s;
}
/* focus effect */
.form-section button:focus {
  background: rgb(41, 44, 53);
}

form label {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
}

form input {
  width: 120%;
  height: 4rem;
  background-color: rgb(221, 221, 221);
  border-radius: 1rem;
  font-size: 2rem;
  text-align: center;
}

form textarea {
  background-color: rgb(221, 221, 221);
  border-radius: 1rem;
  width: 120%;
  font-size: 2rem;
}


/* landing page text animation to add with javascript */

span {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease;
}

span.fade {
  opacity: 1;
  transform: translateY(0px);
}

/* dark mode styles applied with javascript*/

/* https://cssgradient.io/gradient-backgrounds/ */

body.dark {
  background-image: radial-gradient(
    circle farthest-corner at -8.9% 51.2%,
    rgba(255, 124, 0, 1) 0%,
    rgba(255, 124, 0, 1) 15.9%,
    rgba(255, 163, 77, 1) 15.9%,
    rgba(255, 163, 77, 1) 24.4%,
    rgba(19, 30, 37, 1) 24.5%,
    rgba(19, 30, 37, 1) 66%
  );
  color: white;
}

body.dark nav a {
  color: white;
}

body.dark p {
  color: white;
}

body.dark .label {
  background-color: white;
}

body.dark .label .circle {
  background-color: rgb(19, 30, 37);
}

body.dark footer i {
  color: rgb(221, 221, 221);
}

body.dark footer i:hover {
  color: white;
}

body.dark footer h2 {
  color: rgb(221, 221, 221);
}

body.dark .active {
  background: rgb(221, 221, 221);
  color: black;
  border-radius: 2rem;
}

body.dark .button:after {
  background-color: rgb(221, 221, 221);
}

body.dark .button:before {
  background-color: rgb(112, 104, 104);
}

body.dark .burger div {
  background: white;
}
body.dark .button {
  color: black;
}

body.dark .button:hover {
  color: white;
}

body.dark .img-container p {
  background: rgb(112, 104, 104);
}
body.dark .img-container p:hover {
  color: black;
  background-color: rgb(221, 221, 221);
  transition: ease-in 0.3s;
}

body.dark .img-container a {
  color: white;
}

body.dark .img-container a:hover {
  color: black;
}

body.dark .form-section button {
  background: rgb(112, 104, 104);
  color: white;
}

body.dark .form-section button:hover {
  background: rgb(221, 221, 221);
  color: black;
  transition: all 0.2s;
}

/* Mobile view */

@media screen and (max-width: 640px) {
  .burger {
    display: block;
    cursor: pointer;
    transition: all 0.5s ease;
    z-index: 3;
  }

  nav a {
    color: black;
    font-size: 2.5rem;
  }
      /* nav opened in mobile view when burger is displayed */
  .links {
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    flex-direction: column;
    align-items: center;
    transition: transform 1s ease;
    z-index: 2;
    justify-content: space-evenly;
  }

  /* burger animation when burger cklicked, applied with javascript */
  .nav-open {
    transform: translateX(-100%);
  }
  /* burger animation when burger clicked to close navigation, applied with javascript */
  .nav-close .line1 {
    transform: rotateZ(45deg) translateY(400%);
    background: rgb(112, 104, 104);
  }
  /* burger animation when burger clicked to close navigation, applied with javascript */
  /* makes midle line invisible from the burger */
  .nav-close .line2 {
    opacity: 0;
  }

  /* burger animation when burger clicked to close navigation, applied with javascript */
  .nav-close .line3 {
    transform: rotateZ(-45deg) translateY(-400%);
    background: rgb(112, 104, 104);
  }

  .intro-text {
    font-size: 2rem;
    padding: 0rem 2rem;
    padding-bottom: 3rem;
  }

  .button {
    font-size: 2rem;
  }

  nav {
    width: 80%;
  }

  footer h2 {
    order: 2;
    padding-top: 2rem;
    text-align: center;
  }

  .fa-github:before,
  .fa-twitter:before,
  .fa-codepen:before,
  .fa-linkedin-in:before {
    font-size: 2.5rem;
  }

  body.dark .links {
    background-image: radial-gradient(
      circle farthest-corner at -8.9% 51.2%,
      rgba(255, 124, 0, 1) 0%,
      rgba(255, 124, 0, 1) 15.9%,
      rgba(255, 163, 77, 1) 15.9%,
      rgba(255, 163, 77, 1) 24.4%,
      rgba(19, 30, 37, 1) 24.5%,
      rgba(19, 30, 37, 1) 66%
    );
  }

  /* I placed grid items in one column for mobile view */
  .cv-main-section {
    width: 85%;
    grid-template-columns: 1fr;
    grid-template-areas:
      "section1"
      "section2"
      "section3"
      "section4"
      "section5";
  }

  .about-me,
  .education,
  .contact-details,
  .skills {
    padding: 1rem 0rem;
  }
  /* shorter line */
  hr {
    width: 100%;
  }

  .gallery {
    padding: 3rem 0rem;
  }

  .full-img {
    height: 30%;
    top: 30%;
  }

  .modal p {
    font-size: 1.9rem;
    bottom: 30%;
  }

  form input {
    width: 80%;
    height: 4rem;
  }

  form textarea {
    width: 80%;
  }

  .form-section button {
    width: 60%;
    font-size: 2rem;
  }
}

/* Tablet view */
